<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/starter-template.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Visualize most common complaints</h1>
        <p class="lead">Visualize the most common 311 complaints in your area.<br>Enter your zipcode:10001<br>Enter period: Last 2 months</p>
      </div>
      <div class="buttonbox">
          <button id="querymaker">View top complaints for your zipcode.</button>
          <button id="puppymaker">Histogram of top complaints for your zipcode.</button>
      </div>
      <div id="citybox">
          <p>Top complaints for your zipcode will be displayed here.</p>
          <table class="table">
          </table>
      </div>
      <div id="puppybox">
          <p>Histogram of top complaints for your zipcode.</p>
      </div>

<!-- 
       <div class="starter-template">
        <h1>Predict complaint volumes</h1>
        <p class="lead">You can predict the complaint resolution times.<br>Zipcode:10001<br>Complaint Type:Noise<br>Prediction period start: 08-11-2014 <br>Prediction period stop: 08-15-2014 <br>Resolution:Weekly</p>
      </div>
      <div id="puppybox">
          <p>Predicted total volume, and a table/figure of trend for complaints will be displayed here</p>
      </div>
     <div class="starter-template">
        <h1>Predict complaint resolution times</h1>
        <p class="lead">You can predict the complaint resolution times.<br>Zipcode:<br>Complaint Type:<br>Prediction period:</p>
      </div>

      <br>
      <div id="puppybox">
          <p>Predicted complaint resolution times will appear here</p>
      </div>
 -->


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--     <script src="static/js/jquery.js"></script> -->
    <script src="static/js/bootstrap.min.js"></script>
    <script>
        var add_puppy_to_box = function() {
            $('#puppybox').append('<img width=100 src="static/figs/histcomplaints.png">');
//             $('#puppybox').append('<img src="http://www.tehcute.com/pics/201109/puppy-with-hanging-tongue-in-a-towel-big.jpg">');
        }
        var query_for_cities = function() {
            cities = [];
            jQuery.ajax(
              'db_json',
              {success:
                function(data) {
                  complaints = data.complaints;
                  $("#citybox tr").remove();
//                   for (i=0; i < complaints.length; i++) {
                  for (i=0; i < 10; i++) {
//                     if (complaints[i]['incident_zip'] == 10001) {
//                         $("#citybox table").append('<tr><td>' + complaints[i]['complaint_type'] + '</td><td>' + complaints[i]['incident_zip'] + '</td></tr>');
//                     }
                    $("#citybox table").append('<tr><td>' + complaints[i]['complaint_type'] + '</td><td>' + complaints[i]['borough'] + '</td></tr>');
                  }

                }
              }
            )
        }
        $(document).ready(function() {
            $('#puppymaker').click(add_puppy_to_box);
            $('#querymaker').click(query_for_cities);
            }
        )
    </script>
  </body>
</html>
