<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Locality Lookout</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/starter-template.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
       
  <body>
<!-- 
    <style type="text/css">
      body { background-image: url(static/figs/NoiseStudy_small.jpg);
        background-size: 1500px 900px;
/*       background-repeat:no-repeatdisplay:compact; */
      }
    </style>
 -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
<!--           <a class="brand" ><img STYLE="position:absolute; TOP:115px; LEFT:50px; WIDTH:220px; HEIGHT:35px" src="/static/figs/311pic.jpg" ></a> -->


          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<!--           <a class="navbar-brand" href="#">Locality Lookout</a> -->
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
<!--             <li><a href="/predict">Predict volumes</a></li> -->
            <li><a href="/visualize">Visualize</a></li>
            <li><a href="http://www.slideshare.net/slideshow/embed_code/38576569">Slides</a></li>
            <li><a href="http://rawgit.com/dahlianadkarni/Insight_Project311/master/Wk_6/index.html">More</a></li>
            <li><a href="http://sites.google.com/site/dahlianadkarni/">About Me</a></li>
<!--             <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Heat maps of top complaints in NYC</h1>
        <p class="lead"><br></p>
      </div>

      <div>
          <form class="navbar-form" action="/visualize_result" method="GET">
            <font size=4>Enter your Complaint Type:</font>
            <br><br>
            <font size=3>
                <input type="radio" name="complaint_type" value="Noise"> Noise<br><br>
                <input type="radio" name="complaint_type" value="Heating"> Heating<br><br>
                <input type="radio" name="complaint_type" value="Rodent"> Rodent<br><br>
                <input type="radio" name="complaint_type" value="General_Construction"> General Construction<br><br>
                <input type="radio" name="complaint_type" value="Sewer" checked> Sewer<br><br>
            </font>
            <br>

                <button type="submit" class="btn btn-small btn-warning ">Visualize Data</button>
                <br>
             </form>

            <br>
            </div>


    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--     <script src="static/js/jquery.js"></script> -->
    <script src="static/js/bootstrap.min.js"></script>
   
  </body>
</html>
